{# Set header background image, if configured, with inline styling.  #}
{% if page.header.header_image %}
    {% set header_has_bg_image = 1 %}
    {% set header_bg_style = 'style=\"width:100%; height:250px; z-index:-10; background:url(\'' ~ page.media.images[page.header.header_image].cache.url()  ~ '\') no-repeat top center; background-size:cover\"' %}
{% elseif  theme_config.headerBackgroundImage | first %}
    {% set header_has_bg_image = 1 %}
    {% set header_bg_style = 'style=\"width:100%; height:250px; z-index:-10; background:url(\'' ~ (theme_config.headerBackgroundImage | first).path  ~ '\') no-repeat top center; background-size:cover\"' %}
{% endif %}

{# Set font color  for navbar and header text in case of background image #}
{% if header_has_bg_image == 1 %}
    {%  if page.header.header_font_color %}
        {% set header_font_style="style=\"color: #{page.header.header_font_color}\"" %} 
        {% set navbar_font_style="style=\"color: #{page.header.header_font_color}\"" %}
    {% elseif theme_config.header_font_color %}
        {% set header_font_style= "style=\"color: #{theme_config.header_font_color}\"" %} 
        {% set navbar_font_style= "style=\"color: #{theme_config.header_font_color}\"" %}
    {% endif %}
{% else %}
    {% set header_bg_style = '' %}
    {% set header_font_style ='' %} 
    {% set navbar_font_style='' %} 
{% endif %}

{# Configure header  #}
{% if page.title  %}
    {% set main_header = page.title %}
{%  else %}
    {%  set main_header = site.title %}
{% endif %}

{% if page.subheader %}
    {%  set subheader = subtitle %}
{% else %}
    {% set subheader ='' %}
{% endif %}

<div class="blog-header" {{header_bg_style}}>
    <div class="container">
        {% include 'partials/navigation.html.twig' %}
        <div class ="site-heading">
            <h1 class="blog-title" {{header_font_style}}>{{main_header}}</h1>
            <p class="lead blog-description" {{header_font_style}}>{{subheader}}</p>
        </div>
    </div>
</div>
