{# Set navigation bar background color as configured in the yaml file (or via the admin panel) #}
{% if theme_config.navbar.background_color %}
    {% set navbar_style = "style=\"background-color: #{theme_config.navbar.background_color}\"" %}
    {% set navbar_bg = '' %} 
{% elseif theme_config.navbar.background != 'default' %}
    {% set navbar_bg = theme_config.navbar.background %}
{% else %}
    {% set navbar_bg = 'bg-primary' %}
{% endif %}

{# Set brand logo if present, otherwise use site title #}
{% set fileLogo =  theme_config.fileLogo | first %}
{% if fileLogo   and theme_config.navbar.use_logo %} 
    {% set brand = '<img src=\"' ~ fileLogo.path ~ '\" width=\"100\" height=\"40\" alt=\"' ~ site.title ~ '\">'  %}  
{% else %}
    {% set brand = site.title %} 
{% endif %}

<nav class="navbar navbar-default navbar-toggleable-md navbar-light {{navbar_inverse}} {{ navbar_bg }}" {{ navbar_style }}>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand {{navbar_font_class}}" href="#">{{brand}}</a>
    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
	<ul class="navbar-nav ml-auto">
	    {% for p in pages.children.visible %}
		<li class="nav-item active" >
		    <a class="nav-link {{navbar_font_class}}"  href="{{ p.url }}">{{ p.menu }}</a>
		</li>
	    {% endfor %}
        </ul>
    </div>
</nav>
{# end of navigation bar code#}
